<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>电影联盟-VIP视频免费看</title>
    <meta name="keywords" content="VIP视频,VIP影院,我爱电影影院,VIP视频免费看,VIP视频抢先看">
    <meta name="description" content="电影联盟VIP影院-看VIP视频，就来找我">
    <link rel="shortcut icon" href="/www/favicon.ico">
    <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/www/css/base.css">{{{block ("head")}}}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-140794484-2"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-140794484-2');
    </script>
    <script data-ad-client="ca-pub-3852154993265728" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
</head>

<body>{{{include ("./header")}}} {{{block ("body")}}} {{{include ("./footer")}}}
    <script src="/www/js/xframe-min-1.0.js"></script>
    <script src="/www/js/base.js"></script>{{{block ("foot")}}}</body>

</html>